* {
    box-sizing: border-box;
    margin: 0;
}

html{
  height: 100%;
  width: 100%;
}

body {

    display: flex;
    flex-flow: column;
    margin: 0;
    height: 100%;
    width: 100%;
}

.menu_bar{
  height: 10%;
}
.content{
  height: 100%
}
.navbar{
  margin-bottom: 0;
}

.fill{

  padding-left: 0;
  padding-right: 0;

}
