{% extends "code_nova/base.html" %}

{% block title %}Room{% endblock %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}">
{% endblock%}

{% block content %}
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-container">
      <div id="test_case_modal">

      </div>
      <table class="table" id="test_case_table" style="width:100%;">
        <thead>
          <tr><th scope="col">input</th><th scope="col">expected output</th><th scope="col">actual output</th><th scope="col">success</th><th scope="col">error</th></tr>
        </thead>
        <tbody id="test_case_table_body">

        </tbody>
      </table>
    </div>
  </div>

</div>
<div class="myrow">
  <div class="column" id="material_column" style="background-color:#aaa;">

    {{room.exercise.material | safe }}

  </div>
  <div id="editor" class="column">{{room.code}}</div>
  <div  id="control_column" class="column" style="background-color:#ccc;">
    <b>Room ID:{{room.id}}</b>
    


  <div class="chat_panel">
    <div class="chat_history_panel"></div>
    <div class="chat_control_panel">

      <textarea class="chat_field" name="chat_field"></textarea>
      <!-- <textarea id="chat_field" name="chat_field" rows="8" cols="80"></textarea> -->
      <button class="chat_send_button" type="button" name="button">chat</button>

    </div>
  </div>

  <div class="control_panel">


    <button id="editor_save_button" type="button" name="button" >save</button>
    <button class="editor_save_run_button" type="button" name="button" >Save & Run</button>

    <button class="search_helper_button" type="button" name="button">search_helper</button>
    <button class="ask_advice_button" type="button" name="button">ask advice</button>
    <button class="show_modal_button" type="button" name="button">show_result</button>

  </div>


  </div>
</div>



{% endblock %}

{% load static %}
{% block extra_js %}
<script src="{% static 'ace-builds-master/src-noconflict/ace.js' %}"></script>
<script src="{% static 'reconnecting-websocket.min.js' %}"></script>



<script type="text/javascript">


const chat_template = ({ email, chat,time}) => `

<div class="chat">
  <span class="glyphicon glyphicon-user"> ${email}</span>
  <p>${chat}</p>
  <span class="time-right">${time}</span>
</div>
`;

const join_template = ({email}) => `
  <div class="join_message">
      <span class="glyphicon glyphicon-user"> ${email}</span> join the room
  </div>
`;

const leave_template = ({email}) => `
  <div class="leave_message">
    <span class="glyphicon glyphicon-user"> ${email}</span> leave the room
  </div>
`;


const save_run_template = ({overall_success,total_test_case,passed_test_case}) => {


  if (overall_success) {

    return `<div class="chat">
      <span class="glyphicon glyphicon-user"> AI Tutor</span>
      <p>You have passed all test cases! Good Work</p>
      <p>Click here for more info</p>
      <span class="time-right">time</span>
    </div>`;

  }

  else {
    return `<div class="chat">
      <span class="glyphicon glyphicon-user"> AI Tutor</span>
      <p>You have passed ${passed_test_case}/${total_test_case} test cases!</p>
      <p>Click here for more info</p>
      <span class="time-right">time</span>
    </div>`;
  }



}


const advice_template = ({content,time}) => `
  <div class="chat">
    <span class="glyphicon glyphicon-user"> AI Tutor</span>
    <p>${content}</p>
    <span class="time-right">${time}</span>
  </div>
`;

const test_case_template = ({input,expect_output,output,error,success}) => {

return "<tr><td scope='row'>"+input+"</td><td>"+expect_output.split("\n").join("<br/>")+"</td><td>"+output.split("\n").join("<br/>")+"</td><td>"+success+"</td><td>"+ error.split("\n").join("<br/>") +"</td></tr>"

}

// const advice_template = (advice) => {
//   text = ""
//   for (var i = 0; i < advice.length; i++) {
//     advice[i] =
//   }
//
// }


const help_template = ({ room_id,help_seeker,exercise_title }) => `
  User ${help_seeker} ask you for help on exercise (${exercise_title}). Do you want to help?`;

  $(function () {

    // $(window).on("unload", function(e) {
    //     // Do Something
    //     e = e || window.event;
    //
    //     // For IE and Firefox prior to version 4
    //     if (e) {
    //         e.returnValue = 'Sure?';
    //     }
    //
    //     // For Safari
    //     return 'Sure?';
    //
    // });
    //
    // window.onbeforeunload = function (e) {
    //     e = e || window.event;
    //
    //     // For IE and Firefox prior to version 4
    //     if (e) {
    //         e.returnValue = 'Sure?';
    //     }
    //
    //     // For Safari
    //     return 'Sure?';
    // };

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");

    var silent = false;

    var changes_list = [];

    time = setInterval(function(){
      // console.log("time's up");
      apply_changes();
    },50);

    // Correctly decide between ws:// and wss://
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var ws_path = ws_scheme + '://' + window.location.host + "/room/stream/";
    console.log("Connecting to " + ws_path);
    var socket = new ReconnectingWebSocket(ws_path);


    editor.on("change", function( e ) {

      // console.log("apply delta",e)
                    // TODO, we could make things more efficient and not likely to conflict by keeping track of change IDs
                    // if( last_applied_change!=e && !just_cleared_buffer ) {
                    //     collaborator.change( JSON.stringify(e) ) ;
                    //
                    //
                    // }
                    // just_cleared_buffer = false ;
                    if (silent)
                    {
                      console.log("silent")

                    }
                    else {
                      e.user_id = {{request.user.id}};
                      e.time = Date.now();
                      console.log("after",e);
                      socket.send(JSON.stringify({
                          "command": "editor_send",  // determines which handler will be used (see chat/routing.py)
                          "room": {{room.id}},
                          "change" : e,
                          // "change" : JSON.stringify(e)
                      }));

                    }

                }, false );



    // Helpful debugging
    socket.onopen = function () {
        console.log("Connected to websocket");
        join_room()
    };


    socket.onclose = function () {
        console.log("Disconnected from websocket");
    };

    socket.onmessage = function (message) {
        // Decode the JSON
        var data = JSON.parse(message.data);

        console.log("recieve",data);
        // Handle errors
        if (data.error) {
            alert(data.error);
            return;
        }


        if (data.help_seeker)
        {
          console.log("receive a help request");

          var text = [data].map(help_template);

          if (confirm(text) == true){
            window.location.replace(data.url);

          }


        }


        if (data.join)
        {
          if (data.user_id == {{ request.user.id }})
          {

            console.log("joined room");
            chat_load()
            editor_load()

          }

            console.log("someone joined")
            console.log("email",data.email)
            $(".chat_history_panel").append([data].map(join_template));

        }

        else if(data.change)
        {
          // var delta = JSON.parse(data.message) ;
          var delta = data.change ;
          console.log("recieve delta",delta);

          if (data.user_id == "{{request.user.id}}")
          {
            console.log("my own change");
          }
          else {

            changes_list.push(delta);
            // silent = true;
            // editor.getSession().getDocument().applyDeltas([delta]) ;
            // silent = false;
          }
        }

        else if (data.chat) {

          console.log("chat recieved",data.chat)


          $(".chat_history_panel").append([data].map(chat_template));


        }

        else if (data.chat_history) {


          $(".chat_history_panel").empty();
            for (i in data.chat_history)
            {
              if (data.chat_history[i]["join"])
              {
                // this is a join message
                // console.log("join")
                $(".chat_history_panel").append(join_template(data.chat_history[i]));
              }

              else if (data.chat_history[i]["leave"])
              {
                // this is leave message
                // console.log("leave")
                $(".chat_history_panel").append(leave_template(data.chat_history[i]));
              }

              else {
                {
                  // console.log("chat")
                  $(".chat_history_panel").append(chat_template(data.chat_history[i]));
                }
              }
            }

        }

        else if (data.code){
          silent = true;
          editor.setValue(data.code)
          silent = false;

        }
        // Handle joining


        // result from save_run
        else if (data.result){

          // console.log(data.result);

          $("#test_case_table_body").empty();
          var succss_count = 0;
          for (var i = 0; i < data.result.length; i++) {

            $("#test_case_table_body").append(test_case_template(data.result[i]));
            if (data.result[i]["success"])
            {
              succss_count++;
            }
          }

          var message = succss_count.toString()+"/"+data.result.length.toString()+" test cases passed"

          $(".chat_history_panel").append(save_run_template(data));


          $("#test_case_modal").html(message);

          // show_modal();
        }

        else if (data.advice)
        {



          for (var i = 0; i < data.advice.length; i++) {
            data.advice[i] = data.advice[i].split("\n").join("<br />")
          }


          $(".chat_history_panel").append("<br/> AI tutor : <br>");
          for (var i = 0; i < data.advice.length; i++) {
            data.advice[i] = data.advice[i].split("\n").join("<br />")
          }
          $(".chat_history_panel").append(data.advice.join("<br>"));



        }

      $(".chat_history_panel").animate({ scrollTop: $(".chat_history_panel").prop("scrollHeight")}, 500);

    };



    $('#join_room_button').on('click', function() {
         /* your code here */

      join_room()
    });

    $('#leave_room_button').on('click', function() {
         /* your code here */

         socket.send(JSON.stringify({
             "command": "leave_room",  // determines which handler will be used (see chat/routing.py)
             "room": {{room.id}}
         }));
    });


    $('#editor_save_button').on('click', function() {
         /* your code here */
        editor_save();
    });


    $('#editor_load_button').on('click', function() {
         /* your code here */
        editor_load();
    });


    $('.chat_send_button').on('click', function() {
         /* your code here */
        chat_send();
    });

    $('.search_helper_button').on('click', function() {
         /* your code here */
        search_helper();
    });

    $('.editor_save_run_button').on('click', function() {
         /* your code here */
        editor_save_run();
    });

    $('.ask_advice_button').on('click', function() {
         /* your code here */
        ask_advice();
    });

    $('.exercise_suggestion_button').on('click', function() {
         /* your code here */
        exercise_suggestion();
    });

    $('.show_modal_button').on('click', function() {
         /* your code here */
        show_modal();
    });

    var modal = document.getElementById('myModal');
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
        modal.style.display = "none";
    }


    window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
    }

    // function insert_changes(delta)
    // {
    //   if (changes_list.size == 0)
    //   {
    //     changes_list.
    //   }
    //
    //
    // }

    function show_modal()
    {

      modal.style.display = "block";
      // $(".modal-container").empty();

      // $(".modal-container").append("""table""");
    }



    function exercise_suggestion()
    {

      socket.send(JSON.stringify({
          "command": "ask_suggestion",  // determines which handler will be used (see chat/routing.py)
          "mode": 1
      }));
    }


    function join_room()
    {
      console.log("sending join request");
      socket.send(JSON.stringify({
          "command": "join_room",  // determines which handler will be used (see chat/routing.py)
          "room": {{room.id}}
      }));
    }
    function chat_load()
    {

      socket.send(JSON.stringify({
          "command": "chat_load",  // determines which handler will be used (see chat/routing.py)
          "room": {{room.id}},
      }));

    }

    function chat_send()
    {
      var dt = new Date();
      var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();

      chat_message = $(".chat_field").val();
      $(".chat_field").val("");

      socket.send(JSON.stringify({
          "command": "chat_send",  // determines which handler will be used (see chat/routing.py)
          "room": {{room.id}},
          "chat": chat_message,
          "time": time
      }));


    }


    function apply_changes()
    {
      changes_list.sort(function(a, b){return a.time - b.time});
      // console.log(changes_list);

      silent = true;
      editor.getSession().getDocument().applyDeltas(changes_list) ;
      silent = false;

      changes_list = [];

    }


    function editor_save()
    {

      var code = editor.getValue();
      console.log("content",code);

      socket.send(JSON.stringify({
          "command": "editor_save",  // determines which handler will be used (see chat/routing.py)
          "room": {{room.id}},
          "code": code
      }));

    }


    function editor_save_run()
    {

      var code = editor.getValue();

      socket.send(JSON.stringify({
          "command": "editor_save_run",  // determines which handler will be used (see chat/routing.py)
          "room": {{room.id}},
          "code": code
      }));

    }

    function editor_load()
    {
      console.log("load content");

      socket.send(JSON.stringify({
          "command": "editor_load",  // determines which handler will be used (see chat/routing.py)
          "room": {{room.id}},
      }));
    }


    function search_helper()
    {

      console.log("send help request");
      socket.send(JSON.stringify({
          "command": "search_helper",  // determines which handler will be used (see chat/routing.py)
          "room": {{room.id}},
      }));
    }

    function ask_advice()
    {
      var code = editor.getValue();
      console.log("send ask advice request");
      socket.send(JSON.stringify({
          "command": "ask_advice",  // determines which handler will be used (see chat/routing.py)
          "room": {{room.id}},
          "code": code
      }));
    }


  });

</script>
<!-- <script type="text/javascript" src="{% static 'room.js' %}"></script> -->
{% endblock %}
