.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {

    height: 80%;
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal_container{

  height: 100%;
  overflow-y: scroll;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.column{

  background-size: cover;
  background-position: center;
  flex: 1 1 ;
  flex-direction: column;
  display:flex;
  justify-content : center;
  align-items: center;

}

.column_1{

  background: url("../image/learn_new_skill.jpeg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: hsla(0,0%,100%,0.50);
  background-blend-mode: overlay;
  background-repeat: no-repeat;

}

.column_2{

  background: url("../image/reinforce_skill.jpeg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: hsla(0,0%,100%,0.50);
  background-blend-mode: overlay;
  background-repeat: no-repeat;

}

.column_3{

  background: url("../image/learn_specific_skill.jpeg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: hsla(0,0%,100%,0.50);
  background-blend-mode: overlay;
  background-repeat: no-repeat;

}

.column_1:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.column_2:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.column_label{

  font-family: fantasy;
  font-size: 2em;


}

.skill_list{
  width: 50%;
  margin: 10px;
}
