/* Create three equal columns that floats next to each other */



.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.chat::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.chat img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.chat img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

/*  chat css*/


/* .material_column {
    float: left;
    width: 25%;
    height: 100%;
    padding: 10px;

}

.editor_column {
    float: left;
    width: 40%;
    height: 100%;
    padding: 10px;

}

.control_column {
    float: left;
    width: 35%;
    height: 100%;
    padding: 10px;

} */

/* Clear floats after the columns */


.container-fluid{

  height: 100%;

}
.myrow{

  display: flex;
  flex-direction: row;
  height: 100%;

  /* height: 100%;
  min-height: 100%;
  max-height: 100%; */

}


#control_column{

  height: 100%;
  display: flex;

}


#material_column{

  flex:0 0 30%;
}
#editor_column{

  flex: 1;
}

#control_column{
  flex:0 0 25%;
}

#editor{

  height: 100%;
  width: 100%;
}


div.chat_panel{

  height: 90%;
  padding: 15px;
}

div.chat_history_panel {

    background-color: #FFFFFF;
    width: 100%;
    height: 80%;
    overflow-x: auto;
}

div.chat_control_panel {
    flex: 1;
    width: 100%;
    height: 20%;
    overflow-x: auto;

}

.control_panel{

  display: flex;

}

.control_panel_button{

  flex: 1;
  text-align: center;

}

.control_panel_button_image{

  height: 50px;
  width: 50px;
}

.chat_field{

  height: 80%;
  width: 80%;

  border-radius: 10px;
}

.chat_send_button{

  width: 10%;

}

.sender{

  font-weight: : bold;

}

.join_message{
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: rgba(0,0,0,0.8);
}

.leave_message{
  font-style: italic;

  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: rgba(0,0,0,0.8);
}


.th{

  text-align: center;
}
.tr{

  text-align: center;
}

/* use for modal box */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {

    height: 85%;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal_container{

  height: 100%;
  overflow-y: scroll;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
