{% extends "code_nova/base.html" %}

{% block title %}Exercise{% endblock %}

{% load static %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/exercise.css' %}">
{% endblock%}

{% block content %}


<div class="exercise_detail">
  <h1>{{exercise.title}}</h1>

  <p>{{exercise.material | safe}}</p>
  <button class="btn" type="button" name="button" onclick="window.location.replace('{% url 'start_exercise' exercise.id %}')">Start Exercise</button>

</div>

<div class="panel-group" id="accordion">

  <h1>Cluster List</h1>

  {% for cluster in cluster_list %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse{{cluster.id}}" class="panel-title expand">
        <div class="right-arrow pull-right">+</div>
        <a href="#">Cluster{{forloop.counter}}</a>
      </h4>
    </div>
    <div id="collapse{{cluster.id}}" class="panel-collapse collapse">
      <div class="panel-body">

        <div class="">
          {{cluster.necessary_skill}}
        </div>

        <div class="">
          {{cluster.redundant_skill}}
        </div>

        <div class="">
          {{cluster.character_skill}}
        </div>

        <div class="">
          {{cluster.common_skill}}
        </div>

      </div>

    </div>
  </div>
  {%  endfor %}
</div>


{% endblock %}


{% block extra_js %}
<script type="text/javascript">


$('#test_append_button').on('click', function() {
     /* your code here */

     window.location.replace("");


});

$(".expand").on( "click", function() {
  // $(this).next().slideToggle(200);
  $expand = $(this).find(">:first-child");

  if($expand.text() == "+") {
    $expand.text("-");
  } else {
    $expand.text("+");
  }
});


</script>

{% endblock %}
