{% extends "code_nova/base.html" %}

{% block title %}Exercise{% endblock %}

{% load static %}
{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/list_room.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jstree/dist/themes/default/style.min.css' %}">
{% endblock%}

{% block content %}

<div class="" style="height:5%;">
<h4>{{student.user.email}} Profile Tree</h4>
</div>


<div id="profile_tree" style="width:100%; height:150%;">

</div>

{% endblock %}

{% block extra_js %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


  <script type="text/javascript">



    function flatten_json(json) {

      var keys = Object.keys(json)


      for (var i = 0; i < keys.length; i++) {
        // console.log(json[keys[i]]);

        profile_tree_list.push(["root_"+keys[i],1,json[keys[i]]]);


      }

    }
    var profile_tree_list = [ ['Phrases','size','value']];

    var profile_tree = JSON.parse(`{{ flatten_tree | safe }}`);

    console.log(profile_tree);

    //
    flatten_json(profile_tree);

    console.log(profile_tree_list);




    google.charts.load('current', {packages:['wordtree']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable(profile_tree_list);

      var options = {
        wordtree: {
          maxFontSize: 14,
          format: 'implicit',
          word: 'root',
          wordSeparator:"_"
        }
      };


      var chart = new google.visualization.WordTree(document.getElementById('profile_tree'));
      chart.draw(data, options);
    }



  </script>
  {% endblock %}
