
{%  load static%}
{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link href="{% static 'font-awesome/css/fontawesome-all.min.css' %}" rel="stylesheet">
{% endblock%}

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
              <h4>Register</h4>

              <form action="{% url 'register' %}" method="post">
                  {% csrf_token %}
                  {% for field in register_form %}
                    {{ field.errors }}

                    {% if field.name == "password2" or field.name == "password" %}
                    <input type="password" id="{{ field.id_for_label }}" name="{{ field.name }}" class="form-control input-sm chat-input" placeholder="{{ field.label }}" />

                    {% elif field.name == "acc_type" %}

                      <div class="fieldWrapper">
                          {{ field.errors }}
                          <label for="{{ field.id_for_label }}">{{ field.label}} : </label>
                          {{ field }}
                      </div>
                    {% else %}
                    <input type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" class="form-control input-sm chat-input" placeholder="{{ field.label }}" />

                    {% endif %}
                    <br>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                  {% endfor %}

                  <div class="wrapper">

                  <span class="group-btn">
                      <button class="btn btn-primary btn-md" type="submit" value="Submit">Register <i class="fa fa-user-plus"></i></button>
                  </span>
                  </div>
              </form>
            </div>

        </div>
    </div>
</div>
