<!DOCTYPE html>
<html>
  <head>
      <title>Code Nova - {% block title %}{% endblock %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}

      <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
      <script type="text/javascript" src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">

      {% block extra_css %}{% endblock%}

  </head>

  <body>
<!-- selecting menu bar based on user acc_type -->

      {%  if request.user.acc_type == "student" %}

        {% include "code_nova/student_menu.html" %}

      {% elif request.user.acc_type == "teacher" %}

        {% include "code_nova/guest_menu.html" %}

      {% else %}

        {% include "code_nova/guest_menu.html" %}

      {% endif%}

    <div class="container-fluid fill">
      {% block content %}{% endblock %}
    </div>



  </body>

  {% block extra_js %}{% endblock %}

</html>
